body{
    background-color: beige;
    color:darkslategrey
}

nav{
    padding: 5px;
    line-height: 30px;
    width: 20px;
    float: none;

}

footer{
    color:black;

    bottom: 0;
    text-align: center;
   

}

header{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25%;
    top:25%;
}

body{
    text-align: center;
    font-size:x-large;
}